<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="Skills Network Logo">
    </a>
</p>

# Test Environment for Generative AI classroom labs

This lab provides a test environment for the codes generated using the Generative AI classroom.

Follow the instructions below to set up this environment for further use.

# Setup

### Install required libraries

In case of a requirement of installing certain python libraries for use in your task, you may do so as shown below.

#### **Note: When I set up this notebook for this SQL gen AI exploration I have to use `python 3 (ipykernel)` it does not work with pyodide kernel/environment.**

In [1]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (8.31.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (2.0.37)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.12/site-packages (3.16.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (8.31.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (2.0.37)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.12/site-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'
#establish connection:
con = sqlite3.connect("my_data2.db")
cur = con.cursor()

In [4]:
!pip install -q pandas

In [5]:
import pandas as pd

In [6]:
%sql sqlite:///my_data2.db

### Dataset URL from the GenAI lab
Use the URL provided in the GenAI lab in the cell below.

In [7]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data'
column_names = [
    'age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 
    'oldpeak', 'slope', 'ca', 'thal', 'num'
]
#use the url above to read the data as pandas csv
df = pd.read_csv(url, names=column_names)

In [8]:
#conver this to sql so you can use the sql queries:
df.to_sql("cleveland_data", con, if_exists='replace', index=False,method="multi")

303

#### Practicing with Gen AI:
In this script, we are practicing how generative AI prompts work such that it can generate code for SQL queries according to your needs.
In this example, we try to work with the dataset (about heart disease using the url above). We try to use Gen AI by giving it prompts to write SQL commands according to our needs using SQL cell magic commands.

### Practice simple Prompts:

In [9]:
%%sql
SELECT 
    MIN(age) AS min_age, 
    MAX(age) AS max_age, 
    AVG(age) AS avg_age
FROM 
    cleveland_data;

 * sqlite:///my_data2.db
Done.

[(29.0, 77.0, 54.43894389438944)]

Yes now it works Great.

In [10]:
%%sql
SELECT 
    sex, 
    COUNT(*) as patient_count
FROM cleveland_data
GROUP BY sex;

 * sqlite:///my_data2.db
Done.

[(0.0, 97), (1.0, 206)]

**In the dataset the sex column is defined as: 1 is male and 0 is female.**

In [11]:
%%sql
SELECT 
    cp, 
    COUNT(*) as pain_count
FROM cleveland_data
GROUP BY cp;

 * sqlite:///my_data2.db
Done.

[(1.0, 23), (2.0, 50), (3.0, 86), (4.0, 144)]

### In the dataset the chest pain takes following values: 
### cp: chest pain type has the following values:
        -- Value 1: typical angina
        -- Value 2: atypical angina
        -- Value 3: non-anginal pain
        -- Value 4: asymptomatic

In [12]:
%%sql
SELECT 
  CASE 
    WHEN age BETWEEN 20 AND 30 THEN '20-30'
    WHEN age BETWEEN 31 AND 40 THEN '31-40'
    WHEN age BETWEEN 41 AND 50 THEN '41-50'
    WHEN age BETWEEN 51 AND 60 THEN '51-60'
    ELSE '60+'
  END as age_group,
  COUNT(*) as disease_count,
  SUM(CASE WHEN num = 1 THEN 1 ELSE 0 END) as num_patients_with_disease
FROM cleveland_data
GROUP BY age_group
ORDER BY age_group;

 * sqlite:///my_data2.db
Done.

[('20-30', 1, 0),
 ('31-40', 17, 3),
 ('41-50', 76, 11),
 ('51-60', 130, 27),
 ('60+', 79, 14)]

#### Practice Prompts Exercises 1-9):

**1) Find Cholestrol Range:**

In [13]:
%%sql
SELECT 
  MIN(chol) as min_cholesterol, 
  MAX(chol) as max_cholesterol
FROM cleveland_data;

 * sqlite:///my_data2.db
Done.

[(126.0, 564.0)]

**2) Age and Gender Analysis:**

In [14]:
%%sql
SELECT 
  sex,
  MIN(age) as youngest_age,
  MAX(age) as oldest_age
FROM cleveland_data
GROUP BY sex;

 * sqlite:///my_data2.db
Done.

[(0.0, 34.0, 76.0), (1.0, 29.0, 77.0)]

**3)Age Group Analysis and Target Variable:**

In [15]:
%%sql
SELECT 
  -- Age group
  CASE 
    WHEN age BETWEEN 20 AND 30 THEN '20-30'
    WHEN age BETWEEN 31 AND 40 THEN '31-40'
    WHEN age BETWEEN 41 AND 50 THEN '41-50'
    WHEN age BETWEEN 51 AND 60 THEN '51-60'
    ELSE '60+'
  END as age_group,
  COUNT(*) as disease_count,
  SUM(CASE WHEN num = 1 THEN 1 ELSE 0 END) as num_patients_with_disease
FROM cleveland_data
GROUP BY age_group
ORDER BY age_group;

 * sqlite:///my_data2.db
Done.

[('20-30', 1, 0),
 ('31-40', 17, 3),
 ('41-50', 76, 11),
 ('51-60', 130, 27),
 ('60+', 79, 14)]

**4)Maximum Heart Rate by Age Group:**

In [16]:
%%sql
SELECT 
  -- Age group
  CASE 
    WHEN age BETWEEN 20 AND 30 THEN '20-30'
    WHEN age BETWEEN 31 AND 40 THEN '31-40'
    WHEN age BETWEEN 41 AND 50 THEN '41-50'
    WHEN age BETWEEN 51 AND 60 THEN '51-60'
    ELSE '60+'
  END as age_group,
  MAX(thalach) as max_heart_rate
FROM cleveland_data
GROUP BY age_group;

 * sqlite:///my_data2.db
Done.

[('20-30', 202.0),
 ('31-40', 192.0),
 ('41-50', 194.0),
 ('51-60', 195.0),
 ('60+', 179.0)]

**5)Percentage of Patients with High Blood Sugar:**

In [52]:
%%sql
SELECT 
  (COUNT(*) / 303) * 100 as pct_high_fbs 
FROM cleveland_data WHERE fbs =1;

 * sqlite:///my_data2.db
Done.

[(0,)]

**The above code did not work and the code cells below for exercise 5) works:**

In [51]:
%%sql
SELECT Count(*) FROM cleveland_data WHERE fbs = 1;

 * sqlite:///my_data2.db
Done.

[(45,)]

In [30]:
%%sql
SELECT COUNT(*) as total_count
FROM cleveland_data;

 * sqlite:///my_data2.db
Done.

[(303,)]

In [67]:
total_count = 303

In [69]:
# Read the SQL result into a DataFrame
fbs_df = pd.read_sql_query("SELECT * FROM cleveland_data WHERE fbs = 1", con)

# Now you can perform further operations using this DataFrame
total_rows = fbs_df.shape[0]  # Assume this is needed for some calculation
pct_high_fbs = total_rows / (total_count) * 100  # total_patient_count is a variable from another cell or calculation

print("Percentage of patients with high fbs:", pct_high_fbs ,'%')
#This works 14.85148514851485%

Percentage of patients with high fbs: 14.85148514851485 %

**6) Ratio of Patients with Resting Electrocardiographic Abnormality:**

In [55]:
%%sql
-- SQL cell magic command to find the ratio of patients with abnormal resting ECG to those with normal results

-- Count the patients with normal resting ECG results
SELECT COUNT(*) AS normal_restecg
FROM cleveland_data
WHERE restecg = 0;

-- Count the patients with abnormal resting ECG results
SELECT COUNT(*) AS abnormal_restecg
FROM cleveland_data
WHERE restecg IN (1, 2);

-- Compute the ratio
SELECT 
    (COUNT(CASE WHEN restecg = 1 THEN 1 END) + COUNT(CASE WHEN restecg = 2 THEN 1 END)) AS abnormal_count,
    COUNT(CASE WHEN restecg = 0 THEN 1 END) AS normal_count,
    (COUNT(CASE WHEN restecg = 1 THEN 1 END) + COUNT(CASE WHEN restecg = 2 THEN 1 END))*1.0 / COUNT(CASE WHEN restecg = 0 THEN 1 END) AS ratio
FROM cleveland_data;

 * sqlite:///my_data2.db
Done.
Done.
Done.

[(152, 151, 1.0066225165562914)]

**7)Number of Patients with Reversible Thalassemia:**

In [61]:
%%sql
-- SQL cell magic command to count patients with reversible thalassemia
SELECT COUNT(*) AS reversible_thalassemia_count
FROM cleveland_data
WHERE thal = 7.0;

 * sqlite:///my_data2.db
Done.

[(117,)]

**The code given by Gen AI initially didn't work because it gave 'thal = 7', that gave the count as 0. Thus, used the code below to confirm this so thal value should be 7.0 instead of 7 to get it to work.**

In [57]:
%sql SELECT thal, COUNT(*) FROM cleveland_data GROUP BY thal;

 * sqlite:///my_data2.db
Done.

[('3.0', 166), ('6.0', 18), ('7.0', 117), ('?', 2)]

**8)Average Age of Patients with Chest Pain:**

In [65]:
%%sql
-- SQL cell magic command to calculate the average age of patients who experienced chest pain
SELECT AVG(age) AS avg_age_with_chest_pain
FROM cleveland_data
WHERE cp IN (1.0, 2.0, 3.0);

 * sqlite:///my_data2.db
Done.

[(53.276729559748425,)]

**9)Distribution of Patients by Number of Major Vessels:**

In [66]:
%%sql
-- SQL cell magic command to investigate the distribution of patients based on the number of major vessels colored by fluoroscopy

-- Count distribution of 'ca' (0-3)
SELECT 
    ca, 
    COUNT(*) AS patient_count
FROM cleveland_data
GROUP BY ca
ORDER BY ca;

 * sqlite:///my_data2.db
Done.

[('0.0', 176), ('1.0', 65), ('2.0', 38), ('3.0', 20), ('?', 4)]

### My comments:
----
The AI generated code is written based on specific prompts that were given to it by me, based on the instructions specified in the lab:

**Examples of The prompts that were given to the AI (IBM Granite 3.2 8B(Reasoning)):**
**Prompt Instructions (to give Context):**
```
We have a Heart Disease prediction dataset with a single table which has the following attributes.
1. age - age in years
2. gender- gender (1 = male; 0 = female)
3. cp - chest pain type
        -- Value 1: typical angina
        -- Value 2: atypical angina
        -- Value 3: non-anginal pain
        -- Value 4: asymptomatic
4. trestbps - resting blood pressure (in mm Hg on admission to the hospital)
5. chol - serum cholestoral in mg/dl
6. fbs - (fasting blood sugar > 120 mg/dl)  (1 = true; 0 = false)
7. restecg - resting electrocardiographic results
        -- Value 0: normal
        -- Value 1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)
        -- Value 2: showing probable or definite left ventricular hypertrophy by Estes' criteria
8. thalach - maximum heart rate achieved
9. exang - exercise induced angina (1 = yes; 0 = no)
10. oldpeak - ST depression induced by exercise relative to rest
11. slope - the slope of the peak exercise ST segment
        -- Value 1: upsloping
        -- Value 2: flat
        -- Value 3: downsloping
12. ca - number of major vessels (0-3) colored by flourosopy
13. thal - 3 = normal; 6 = fixed defect; 7 = reversable defect
14. num (the predicted attribute) - diagnosis of heart disease (angiographic disease status)
        -- Value 0: < 50% diameter narrowing
        -- Value 1: > 50% diameter narrowing
```

**prompt 1:**

```
write an sql query using sql cell magic commands to Find the range of cholesterol levels among patients (minimum, maximum).
```

**prompt 2:** 
```
write an sql query using sql cell magic commands to Determine the age range (youngest and oldest) for male and female patients separately.
```

**prompt 3:**
```
write an sql query using sql cell magic commands to Investigate the distribution of the target variable (presence or absence of heart disease) within different age groups (e.g., 20-30, 31-40, etc.).
```
**prompt 4:**
```
write an sql query using sql cell magic commands to Find the maximum heart rate achieved during exercise for different age groups (e.g., 20-30, 31-40, etc.).
```

**prompt 5:**
```
write an sql query using sql cell magic commands to Calculate the percentage of patients with fasting blood sugar greater than 120 mg/dl.
```

**prompt 6:**
```
write a sql query using sql cell magic command to Find the ratio of patients with abnormal resting electrocardiographic results to those with normal results.
```

**prompt 7:**
```
write an sql query using %%sql cell magic command to Count the number of patients with reversible thalassemia detected by thallium stress testing.
```

**prompt 8:**
```
write an sql query using %%sql cell magic command to Calculate the average age of patients who experienced chest pain during diagnosis.
```

**prompt 9:**
```
write an sql query using %%sql cell magic command to Investigate the distribution of patients based on the number of major vessels colored by fluoroscopy (0-3).
```
#### Overall, It does the job well enough for the example or the tasks required for this lab.

----

## Authors

[Abhishek Gagneja](https://www.linkedin.com/in/abhishek-gagneja-23051987/)

## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2023-12-10|0.1|Abhishek Gagneja|Initial Draft created|

Copyright Â© 2023 IBM Corporation. All rights reserved.